.index {
	background-color: #000000;
	background-image: url('../images/wavebg.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.othertemplate {
	background-color: #000000;
	background-size: 65px 65px;
	background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}

.hptext {
	text-align: center;
	color: #ababab;
	font-family: 'Metal Mania', cursive;
}

.title {
	padding-top: 13%;
	padding-bottom: 1%;
}

.socialtable {
	border-collapse: separate;
	margin-left: auto;
	margin-right: auto;
}

.socialtd {
	width: 60px;
	height: 56px;
	border-radius: 50%;
	background-color: #828282;
	text-align: center;
	box-shadow: 0px 8px #696969;
}

.sgithub:hover {
	width: 60px;
	height: 56px;
	border-radius: 50%;
	background-color: #24292e;
	text-align: center;
	box-shadow: 0px 8px #171b1f;
}

.slinkedin:hover {
	width: 60px;
	height: 56px;
	border-radius: 50%;
	background-color: #0077B5;
	text-align: center;
	box-shadow: 0px 8px #006091;
}

.sfacebook:hover {
	width: 60px;
	height: 56px;
	border-radius: 50%;
	background-color: #3b5999;
	text-align: center;
	box-shadow: 0px 8px #2f4982;
}

.semail:hover {
	width: 60px;
	height: 56px;
	border-radius: 50%;
	background-color: #D44638;
	text-align: center;
	box-shadow: 0px 8px #B23121;
}

.blankspace {
	padding: 15px;
}

.fa {
	font-size: 30px;
	color: #FFFFFF;
}

a:link,
a:visited,
a:active {
	color: #ababab;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.otherpagestable {
	padding: 30px;
	border-collapse: separate;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #ababab;
	font-family: 'Metal Mania', cursive;
}

.optd {
	font-size: 30px;
	padding: 5px;
}

.card-columns {
	margin: 3%;
	column-count: 3;
}

.biopage {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

#biocontainer {
	padding: 25%;
}

.picofme {
	width: 150px;
	height: 200px;
}

.btn-group {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.emojitxt {
	font-size: 80px;
}

.giftnum {
	position: relative;
}

.gifttitle {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	margin-top: 1%;
	font-family: 'Roboto Slab', serif;
	background: black;
	color: white;
	text-align: center;
}

.gifttitle2 {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	margin-top: 5%;
	font-family: 'Roboto Slab', serif;
	background: black;
	color: white;
	text-align: center;
}